@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Quicksand');
*{
	font-family: 'Quicksand', sans-serif;
}
body {
  background-color: #90CDA6; 
}
input{
  background-color: transparent;
}
h1{
  text-align: center;
  font-size: 4em;
  font-family: 'Gloria Hallelujah', cursive;
  margin: 0 auto;
}
p{
	font-size: 1.2em;
}

.row{
	margin: 0 5em;
}
#translateInput {
	box-sizing: border-box;
  width: 26em;
  height: 9em;
  font-size: 1em;
  margin-left: 1em;
  border: none;
  border-radius: 25%;
  padding: 1em;
  text-align: center;
}
.corn_whole{
  background-image: url(../images/corn_whole.png);
  background-repeat: no-repeat;
  height: 9.6em;
  margin: 0.5em 2em;
  padding-right: 3em;

}


#translateButt {
  text-align: center;
  height: 2em;
  background: #fff;
  font-size: 1em;
  margin-left: 12em;
  border: 2px solid #fff;
  -moz-border-radius:    2em;
   -webkit-border-radius: 2em;
   border-radius:         2em;
}
#translateButt:hover {
  background-color: #2292A4; 
}

#clearButt {
	// display: none;
	text-align: center;
	width: 120px;
	height: 2em;
	background: #fff;
	font-size: 1em;
	margin-left: 12em;
	border: 2px solid #fff;
	-moz-border-radius:    2em;
	-webkit-border-radius: 2em;
	border-radius:         2em;
}

#clearButt:hover {
  color: #974326;
  font-weight: bold; }

.clearButt{
	display:inline-block;
}


#corn_bite{
  background-image: url(../images/corn_bite.png);
  background-repeat: no-repeat;
  margin: 0 3.5em;
  padding-right: 3em;
}

#translationText {
	box-sizing: border-box;
	text-align: center;
	width: 26em;
	height: 9em;
	font-size: 1em;
	margin-left: 1em;
	border: none;
	border-radius: 25%;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 2.5em;
}


.pigCode  {

margin: 0 11em;
}
#pigCode {
	width: 20em;
}








